<!--<ul class="tabs">-->
<!--<li routerLink="inicio" routerLinkActive="active">-->
<!--Inicio-->
<!--</li>-->
<!--<li routerLink="servicios" routerLinkActive="active">-->
<!--Servicios-->
<!--</li>-->
<!--<li routerLink="citas" routerLinkActive="active">-->
<!--Citas-->
<!--</li>-->
<!--</ul>-->
<!--<div class="cont">-->
<!--&lt;!&ndash;<historia>aquí irá una información de perfíl mucho mas pro.</historia>&ndash;&gt;-->
<!--<router-outlet>-->
<!--</router-outlet>-->
<!--</div>-->

<div class="resum_container">
  <app-user-resumen></app-user-resumen>
</div>

<div class="rs_main_cont">
  <!--<div class="main_tabs">-->
  <!--<ul class="tabs">-->
  <!--<li routerLink="/perfil" routerLinkActive="active">-->
  <!--Serviciosd-->
  <!--</li>-->
  <!--<li routerLink="citas/" routerLinkActive="active">-->
  <!--Citas-->
  <!--</li>-->
  <!--</ul>-->
  <!--</div>-->
  <!--<div class="magicspace"></div>-->

  <!--<div class="pct_main_content">-->
  <!--</div>-->
  <router-outlet></router-outlet>
</div>



