<app-cnt titulo="Hábitos" [ocultar]="false">
  <div class="frm">
    <app-multiple
      titulo="Situaciones"
      [base_titulos]='["Rechinan los dientes","comerse las uñas","Respirar por la boca", "apretar los dientes", "Fuma cigarrilo", "consume alcochol", "Bebe café", "Consume Drogas"]'
      class="item big"></app-multiple>

    <app-input class="item big" name="¿Otros Hábitos?"></app-input>

    <app-select class="item medium" [data]="['mas de 4','3','2','1']" titulo="Cada cuanto se cepilla"
                (selected)="tipo_doc = $event"></app-select>
    <app-checkbox class="item medium" titulo="Usa ceda dental" [active]="true"></app-checkbox>
    <app-checkbox class="item medium" titulo="¿Enjuague bucal?" [active]="true"></app-checkbox>

    <app-select class="item medium" [data]="['4 meses','3 meses ','2 meses','menos de un mes']"
                titulo="Cada cuanto cambia de cepillo"
                (selected)="tipo_doc = $event"></app-select>

    <app-select class="item medium" [data]="['total','removible', 'fija', 'no']"
                titulo="¿Usa prótesis dental?"
                (selected)="tipo_doc = $event"></app-select>

    <app-checkbox class="item medium" titulo="¿Les realiza higiene?" [active]="true"></app-checkbox>
    <app-input class="item big" name="Otros"></app-input>
    <app-input class="item big" name="Observaciones"></app-input>

  </div>
</app-cnt>
