<div class="ff">
</div>

<div class="main_login">
  <div class="lgn_logo_conatiner">
    <img class="logo" src="/assets/navbar/logo.svg">
  </div>
  <form class="ins">
    <input type="text"value="a@b.com" #mail placeholder="Correo electrónico">
    <input type="password" value="123456" #pass placeholder="Contraseña">
    <div class="btn-work" (click)="login(mail.value,pass.value)">¡Ingresar!</div>
  </form>
  <p class="olvidado">¿Has olvidado tu contraseña?</p>
</div>

<div class="snack" [ngClass]="{'act': snacktive }">
  <div class="card">{{msg}}</div>
</div>

