<main class="main">
  <div class="card up">
    <div class="img_paciente">
    </div>
    <div class="nombre">{{p.nombre +" "+ p.apellidos}}</div>
    <div class="doc">{{p.tipo_documento +" "+ p.documento}}</div>
    <div class="mas_info">hombre, 27 años</div>
    <div class="noti_cita">
      <div class="not_icon">
        <img class="icon" src="/assets/paciente/not_icon.svg">
      </div>
      <div class="prox_cita">Próxima cita: 7 feb, 7:30 am</div>
    </div>
  </div>
  <div class="card">
    <p class="ttl_ult">Última evolución</p>
    <div class="line"></div>
    <p class="ult_ev">
      culpa deleniti eligendi, enim eos hic nesciunt omnis quaerat quasi ratione rem repellat similique ut...</p>
  </div>
  <div class="card">
    <p class="ttl_cont">Información general</p>
    <div class="line"></div>
    <div class="item">
      <div>telefono móvil</div>
      <div>312 457 48 56</div>
    </div>
    <div class="item">
      <div>teléfono fijo</div>
      <div>385 78 56</div>
    </div>
    <div class="item">
      <div>email</div>
      <div>correo@gmail.com</div>
    </div>
  </div>
</main>
