<div class="rs-tittle">
  <div class="tt">Paciente</div>
</div>

<main class="main">
  <div class="img_paciente">
  </div>

  <div class="nombre">{{p.info_basica.identidad.nombre}} {{p.info_basica.identidad.apellidos}}</div>
  <div class="doc">{{p.info_basica.identidad.tipo_documento}} {{p.info_basica.identidad.documento}}</div>
  <div class="mas_info">{{p.info_basica.identidad.sexo}}, {{getAnos()}}</div>

  <!--<div class="rs-hl"></div>-->
  <!--<div class="noti_content">-->
  <!--<div class="noti_cita">-->
  <!--<div class="not_icon">-->
  <!--<img class="icon" src="/assets/navbar/not_icon.svg">-->
  <!--</div>-->
  <!--<div class="prox_cita">Próxima cita: 7 feb, 7:30 am</div>-->
  <!--</div>-->
  <!--</div>-->

  <div class="card">
    <h4 class="ttl_ult">Última evolución</h4>
    <div class="line"></div>

    <div class="ult_ev"> aún sin evolucionar
    </div>

  </div>

  <div class="card">
    <h4 class="ttl_ult">Información general</h4>
    <div class="line"></div>

    <div class="item" *ngFor="let tl of tels">
      <div>{{tl.tipo}}</div>
      <div>{{tl.num}}</div>
    </div>

    <div class="item">
      <div>email</div>
      <div>{{p.info_basica.contacto.email}}</div>
    </div>
  </div>
</main>

