:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  /*padding: .5em;*/
  padding: 0;
  margin: 0;
  /*height: 100%;*/

  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  height: available;
  /*padding: 1em;*/
}

.card {
  width: 100%;
  display: flex;
  /*height: 4em;*/
  /*background-color: #00ABA0;*/
  margin: 0;
  padding: 1em;
  flex-direction: column;
  box-sizing: border-box;
}

.tt {
  font-size: 1em;
  opacity: 0;
}

.rs-tittle {
  width: 100%;
  /*background-color: #FF6D00;*/
  /*border-bottom: 1px solid ;*/
  display: flex;
  justify-content: center;
  align-items: center;
  /*font-size: .9em;*/
  height: 3em;
}

.ttl_ult {
  font-family: "Fira Sans Light";
  color: #00ABA0;

  text-align: center;
  margin: 0;
  padding: 0;
  /*margin: .5em;*/
}

.nombre {
  font-family: "Fira Sans";
  font-weight: 500;
  color: #00234E;

}

.ttl_cont {
  font-family: "Fira Sans";
  color: #00234E;
  margin: .5em;
}

.ult_ev {
  font-size: .95em;
  font-family: "Fira Sans Light";
  padding: .5em;
}

.item {
  display: flex;
  width: 100%;
  opacity: .6;
  margin-bottom: .2em;
  justify-content: space-between;
  font-size: .95em;
  padding-left: .5em;
  padding-right: .5em;
  box-sizing: border-box;
}

.line {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.08);
  margin-top: 1em;
  margin-bottom: 1em;
  /*box-sizing: border-box;*/
}

.not_icon {
  width: 1em;
  height: 1em;
  /*background-color: #DB3650;*/
  /*box-sizing: border-box;*/
  margin: .2em;
}

.doc {
  font-family: "Fira Sans";
  font-weight: 500;
  /*opacity: .6;*/
  font-size: 1em;
  color: #00ABA0;
}

.prox_cita {
  font-family: "Fira Sans";
  color: #FF6D00;
  font-weight: 400;
  padding: .2em;
  /*margin: .5em;*/
}

.rs-hl {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.08);
}

.noti_content {
  width: 100%;
  display: flex;
  height: 4em;

  /*margin: 1em;*/
  /*padding: 1em;*/
  /*background-color: #00ABA0;*/
}

.noti_cita {
  width: 100%;
  box-sizing: border-box;
  height: 1.5em;
  display: flex;
  align-items: center;
  border-radius: .3em;
  border: 1px solid rgba(219, 54, 80, .2);
  margin: 1em;
}

.mas_info {
  /*font-family: "Fira Sans Light";*/
  /*color: #00234E;*/
  font-weight: 400;
  opacity: .6;
  font-size: 1em;
  margin-bottom: 1em;

}

.img_paciente {
  margin-bottom: 1em;
  width: 7em;
  height: 7em;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.05);
  /*margin: 1em;*/
}


