:host {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
}

.t {
  color: #FCFCFC;
  text-align: center;
}

.pgs-cnt {
  padding: 1em;
}

.txt {
  padding: 2em;
}

.card {
  background-color: #FCFCFC;
  width: 30em;
  /*height: 40%;*/
  border-radius: .2em;
}

.btts {
  text-align: center;
  padding: 1em;
  opacity: .5;
  cursor: pointer;
  color: #00ABA0;
  display: flex;
  align-items: right;
}

.btts {
  color: #00ABA0;
  opacity: 1;
}

.bt {
  padding: .2em;
}

.cancel_inpt {
}

.ttl {
  padding: 1em;
  height: 2em;
  width: auto;
  background-color: #00234E;
}
