.mtl-mn {
  /*background-color: rgba(0, 0, 0, .02);*/
  width: auto;
  /*height: 4em;*/
  /*padding: .5em;*/
  display: flex;
  flex-wrap: wrap;
  border-radius: .2em;
}

.nn {
  background-color: rgba(0, 0, 0, 0);
}

.active {
  justify-content: center;
  align-items: center;
}

.mtl-ttl {
  font-family: "Fira Sans", Arial;
  font-size: .8rem;
  color: #00ABA0;
  margin: 0;
  padding-bottom: .5em;
  height: 1em;
}

.h {
  display: none;
}


.mtl-item {
  display: flex;
  box-sizing: border-box;
  /*padding: .8em;*/
  flex-basis: 20%;
  color: #cccccc;
  text-align: center;
  justify-content: center;
  border: 1px solid #cccccc;
  border-radius: .3em;
  margin-right: .5em;
  margin-bottom: .5em;

  height: 2.2em;
  align-items: center;
  padding-left: .8em;
  padding-right: .8em;

  cursor: pointer;
}

.mtl-item-cnt:hover {
  cursor: pointer;
  opacity: .7;
  color: #00ABA0;
}

.active {
  font-weight: 500;
  color: #00ABA0;
  border: 1px solid #00ABA0;
}

.n {
  pointer-events: none;
  cursor: auto;
  border: 1px solid rgba(0, 0, 0, 0);
}

.mtl-item-cnt {
  display: flex;
  width: auto;
}

@media only screen and (max-width: 68em) {
  .mtl-item {
    flex-basis: 33.2%;

  }
}

@media only screen and (max-width: 42em) {
  .mtl-item {
    flex-basis: 50%;
  }
}
