<div class="bg" *ngIf="data.mostrarIngresarServicio">
  <app-popcard
    *ngIf="data.mostrarIngresarServicio"
    [estructura]="this.data.paginas_ingreso"
    (cancelar)="data.mostrarIngresarServicio=false"
    (finalizar)="finalizarIngresoServicio($event)">
  </app-popcard>
</div>

<div class="resum_container">
  <app-resumen></app-resumen>
</div>

<div class="rs_main_cont">
  <div class="main_tabs">
    <ul class="tabs">
      <li class="tb rsm" routerLink="resumen">
        Resumen
      </li>
      <li class="tb" routerLink="servicios" routerLinkActive="act">
        Servicios
      </li>
      <li class="tb" routerLink="historia" routerLinkActive="act">
        Historia Clínica
      </li>
    </ul>
  </div>

  <div class="magicspace"></div>
  <div class="pct_main_content">
    <router-outlet (ingresar_servicio)="iniciarIngresoServicio()"></router-outlet>
  </div>
</div>


