<div class="resum_container">
  <app-resumen></app-resumen>
</div>

<div class="rs_main_cont">
  <div class="main_tabs">
    <ul class="tabs">
      <li routerLink="resumen" class="rsm" routerLinkActive="active">
        Resumen
      </li>
      <li routerLink="/paciente/" routerLinkActive="active">
        Servicios
      </li>
      <li routerLink="historia" routerLinkActive="active">
        Historia Clínica
      </li>
    </ul>
  </div>

  <div class="magicspace"></div>
  <div class="pct_main_content">

    <router-outlet></router-outlet>
  </div>
</div>


