.main {
  /*padding: .5em;*/
  padding: 0;
  /*margin: 1em;*/
  box-sizing: border-box;
  /*background-color: #FF6D00;*/
}

.rs_ttl {
  font-family: "Fira Sans Light";
  color: rgba(0, 190, 164, 1);
  margin: .2em;
  font-size: 1.2em;
  padding: .5em;
}

.activos {
  display: inline-block;
  /*width: 45em;*/
  border-radius: 5px;
  background-color: rgba(0, 190, 164, .05);
  margin: 0;
}
