<div class="card">
  <div class="pgs_mains_bar">
    <div class="pgs_ic">
      <img class="icon_2" src="/assets/ico_2.svg">
    </div>

    <div class="pgs_cnt_ttl">
      <div class="pgs_ttl">{{serv?.metadata.nombre}}</div>
      <!--<div class="sub_ttl">Ver servicio</div>-->
      <div class="pgs_subttl">
        <div class="est">{{serv?.metadata.estado}}</div>
      </div>
    </div>


  </div>

  <div class="pgs_tttl_2">Diagnóstico</div>
  <div class="dscp">{{serv?.metadata.diagnostico}}
  </div>

  <!--<div class="btns">-->
  <!--</div>-->
  <div (click)="seleccionarServicio()" class="asvd" routerLink="/paciente/serv">Ver Servicio</div>

</div>
