<div class="card">
  <div class="up-container">
    <div class="icon-container">
      <img class="icon" src="/assets/navbar/menu.svg">
    </div>

    <div class="main-info-container">
      <p class="nombre">Extracción de cordales</p>
      <p class="especialidad">Próxima cita: 7 de Feb. 08:40am</p>
    </div>

  </div>
  <div class="botton-container">
    <p class="resumen">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias aliquid aperiam assumenda
      deleniti deserunt
      ducimus...</p>

  </div>
  <div class="btns">
    <p routerLink="detalles">Ver mas detalles</p>
  </div>
</div>
