<div class="frm">
  <app-input value="{{ref.nombre}}" [lock]="lock" class="item small" type="text" name="Nombre" placeholder="Nombre"
             (texted)="ref.nombre = $event; validar()"></app-input>

  <app-input value="{{ref.apellidos}}" [lock]="lock" class="item small" name="Apellidos" placeholder="Apellidos"
             (texted)="ref.apellidos = $event; validar()"></app-input>
  <app-input value="{{ref.parentesco}}" [lock]="lock" class="item small" name="Parentesco" placeholder="lugar"
             (texted)="ref.parentesco = $event; validar()"></app-input>
  <app-input value="{{ref.ocupacion}}" [lock]="lock" class="item small" name="Ocupación" placeholder="Ocupación"
             (texted)="ref.ocupacion = $event; validar()"></app-input>
  <app-input value="{{ref.numero_contacto}}" [lock]="lock" class="item small" name="numero de contacto"
             placeholder="numero"
             (texted)="ref.numero_contacto = $event; validar()"></app-input>

  <div class="jmp"></div>

  <app-select value="{{ref.dir}}" [lock]="lock" class="item small"
              [data]="['carrrera','calle','Transversal', 'Diagonal']"
              titulo="Dirección"
              (selected)="ref.dir = $event; validar()"></app-select>

  <app-input value="{{ref.dir_a}}" [lock]="lock" class="item min" name="No" placeholder="lugar"
             (texted)="ref.dir_a = $event; validar()"></app-input>

  <app-input value="{{ref.dir_b}}" [lock]="lock" class="item min" name="No" placeholder="lugar"
             (texted)="ref.dir_b = $event; validar()"></app-input>

  <app-select value="{{ref.tipo_vivienda}}" [lock]="lock" class="item small" [data]="['casa','apto','Unidad', 'Finca']"
              titulo="vivienda"
              (selected)="ref.tipo_vivienda = $event; validar()"></app-select>

  <app-input value="{{ref.detalles}}" [lock]="lock" class="item small" name="detalles" placeholder="Detalles"
             (texted)="ref.detalles = $event; validar()"></app-input>

</div>

