<div class="frm">
  <div class="ttl-ref">Referencia</div>
  <app-input value="{{data.parentesco}}" [lock]="data.parentlock" name="Parentesco" placeholder="lugar"
             (texted)="data.parentesco = $event; validar()" size="s"></app-input>

  <app-input value="{{data.nombre}}" [lock]="lock" type="text" name="Nombre" placeholder="Nombre"
             (texted)="data.nombre = $event; validar()" size="s"></app-input>

  <app-input value="{{data.apellidos}}" [lock]="lock" name="Apellidos" placeholder="Apellidos"
             (texted)="data.apellidos = $event; validar()" size="s"></app-input>

  <app-input value="{{data.ocupacion}}" [lock]="lock" name="Ocupación" placeholder="Ocupación"
             (texted)="data.ocupacion = $event; validar()" size="s"></app-input>

  <app-input value="{{data.numero_contacto}}" [lock]="lock" name="numero de contacto"
             placeholder="numero"
             (texted)="data.numero_contacto = $event; validar()" size="s"></app-input>

  <div class="line"></div>

  <div class="jmp"></div>

  <app-select value="{{data.dir}}" [lock]="lock" size="s"
              [data]="['carrrera','calle','Transversal', 'Diagonal']"
              titulo="Dirección"
              (selected)="data.dir = $event; validar()"></app-select>

  <app-input value="{{data.dir_a}}" [lock]="lock" size="s" name="No" placeholder="lugar"
             (texted)="data.dir_a = $event; validar()"></app-input>

  <app-input value="{{data.dir_b}}" [lock]="lock" size="s" name="No" placeholder="lugar"
             (texted)="data.dir_b = $event; validar()"></app-input>

  <app-select value="{{data.tipo_vivienda}}" [lock]="lock" size="s" [data]="['casa','apto','Unidad', 'Finca']"
              titulo="vivienda"
              (selected)="data.tipo_vivienda = $event; validar()"></app-select>

  <app-input value="{{data.detalles}}" [lock]="lock" size="s" name="detalles" placeholder="Detalles"
             (texted)="data.detalles = $event; validar()"></app-input>

</div>

