.top_info {
  position: fixed;
  width: 100%;
  height: 4em;
  background-color: #00234E;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.magicspace {
  width: 100%;
  height: 4em;
  margin: 0;
  padding: 0;
}

.loading_line {
  top: 4em;
  position: absolute;
  padding: 0;
  background-color: rgba(2, 2, 2, 0.08);
  width: 100%;
  height: 3px;
  margin: 0;
}

.tabs li a {
  margin-right: 2em;
  float: left;
  opacity: .3;
  font-size: .9em;
  color: #00234E;
}

.hc_tel {
  width: 100%;
  /*background-color: #00234E;*/
  background-color: rgba(0, 0, 0, 0.03);
}

.top_info h1 {
  padding-left: 10px;
  font-family: "Fira Sans";
  line-height: 1;
  font-size: 1.5rem;
  color: white;
}

.top_info h2 {
  font-family: "Lato m";
  line-height: .0;
  font-size: 1rem;
}

.loaded {
  position: absolute;
  width: 50%;
  height: 3px;
  margin: 0;
  padding: 0;
  background-color: #DB3650;
}

.ttl {
  color: #FF6D00;
  font-family: "Fira Sans";
  font-weight: 500;
  margin-top: 30px;
  /*margin-left: 1em;*/
  font-size: 1rem;
  width: 95%;
}

.jmp {
  width: 100%;
}

.line {
  width: 100%;
  height: 1px;
  background-color: rgba(68, 68, 68, 0.15);
  margin: .5em;
  box-sizing: border-box;
  padding: 0;
}

.item {
  box-sizing: border-box;
  padding: .5em;
}

.ip_main {
  /*background-color: #00ABA0;*/
  height: 72vh;
  width: auto;
  /*min-height: 100%;*/
  overflow-y: auto;
  margin: 0;
  padding: 0;
}

.frm {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  box-sizing: border-box;
  /*padding: 1em;*/
  /*background-color: #DB3650;*/
}

.min {
  flex-basis: 8%;
}

.ln {
  padding-left: 1em;
}

@media only screen and (max-width: 68em) {
  .m {
    flex-basis: 50%;
  }

  .s {
    flex-basis: 25%;
  }
}

.m {
  flex-basis: 33%;
}

.s {
  flex-basis: 16.2%;
}

.l {
  flex-basis: 100%;
}

@media only screen and (max-width: 42em) {
  .m {
    flex-basis: 100%;
  }

  .s {
    flex-basis: 50%;
  }

  /*.formulario_ingreso {*/
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  /*width: 100%;*/
  /*box-sizing: border-box;*/
  /*}*/

}

.sttc {
  position: fixed;
  width: 84.1vw;
  height: 6em;
  bottom: 0;
  align-items: right;
  display: flex;
  flex-direction: column;
}

.btn {
  width: 10em;
  margin-right: 1em;
  background-color: #00ABA0;
  opacity: .7;
  padding: .5em;
  border-radius: 5px;
  text-align: center;
  color: white;
}

.btn:hover {
  cursor: pointer;
  opacity: 1;
}



