
:host {
  width: 100%;
}

.tabs_cnt {
  position: fixed;
  /*background-color: #FCFCFC;*/
  display: flex;
  height: 3em;
  padding: 0;
  margin: 0;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 3px 4px 83px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 3px 4px 83px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 3px 4px 83px 0 rgba(0, 0, 0, 0.05);
  align-items: center;
  overflow-y: scroll;
  list-style: none;
}

.tabs_magicspace {
  width: 100%;
  height: 3em;
}

.tbcontent {
  position: absolute;
  background-color: black;
  display: flex;
  width: 100%;
  height: 3em;
  align-items: center;
}

.active {
  opacity: 1;
  color: #00ABA0;
  font-weight: 800;

}

/*background-color: #00ABA0;*/

/*font-weight: }*/

.main_tab {
  z-index: 5;
  float: left;
  opacity: .8;
  font-size: .9em;
  padding: 1em;
  cursor: pointer;
}

.main_tab:hover {
  opacity: 1;
  /*color: #00234E;*/
}


