<ul class="tabs_cnt">

  <li class="main_tab" *ngFor="let tab of tabs" (click)="selectTab(tab)" [class.active]="tab.tab_activa">
    <div class="itemm">
      {{tab.tabTitle}}
    </div>
  </li>
  <li class="alg">
    <div *ngIf="agregable" class="alAg" (click)="alAgregarse()">

      <input class="nuevo_nombre" [(ngModel)]="nombreEscrito" type="text"
             id="fname" name="nombre"
             placeholder="Nueva página">

      <div class="bt">+
      </div>
    </div>
  </li>
</ul>

<ng-content></ng-content>


