:host {
  box-sizing: border-box;
  padding: .5em;
  width: 100%;
}

.top_info {
  position: fixed;
  width: 100%;
  height: 4em;
  background-color: #00234E;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.tel-btn {
  /*margin-top: 1.5em;*/
  /*height: auto;*/
  color: #00ABA0;
  background-color: rgba(0, 171, 160, 0.11);
  padding: .5em;
}

.tel-tipo {
  /*padding: .5em;*/
  width: 5em;
}

.tel-num {
  /*padding: .5em;*/
  width: 5em;
}

.tel-elimnar {
  /*background-color: #00ABA0;*/
  opacity: .5;
  padding: .5em;
  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  margin: .2em;
  width: 1.5em;
}

.tel-elimnar:hover {
  cursor: pointer;
  opacity: 1;
}

.frm {
  /*background-color: rgba(0, 0, 0, .02);*/
}

.icon-container {
  height: available;
  display: flex;
}

.nv-icon-container {
  width: 2.5em;
  height: 3em;
  height: available;
  display: flex;
  /*background: #FF6D00;*/

}



.nv-ico-logo-container {
  width: 2em;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1em;
  margin-right: 1em;
  cursor: pointer;
}

.dl {
  width: 2em;
  height: 2em;
  background-color: rgba(224, 0, 13, 0.2);
  border-radius: 5em;
}

.tels-cnt {
  display: flex;
  width: 100%;
  background-color: rgba(0, 0, 0, .02);
  /*padding: 1em;*/
  border-radius: .2em;
  align-items: center;
  padding-left: 1em;
  height: 3em;
  /*justify-content: center;*/
  /*margin-bottom: .5em;*/
}

.tel-btn:hover {
  cursor: pointer;
}

.magicspace {
  width: 100%;
  height: 4em;
  margin: 0;
  padding: 0;
}

.loading_line {
  top: 4em;
  position: absolute;
  padding: 0;
  background-color: rgba(2, 2, 2, 0.08);
  width: 100%;
  height: 3px;
  margin: 0;
}

.tabs li a {
  margin-right: 2em;
  float: left;
  opacity: .3;
  font-size: .9em;
  color: #00234E;
}

.hc_tel {
  width: 100%;
  /*background-color: #00234E;*/
  background-color: rgba(0, 0, 0, 0.03);
}

.top_info h1 {
  padding-left: 10px;
  font-family: "Fira Sans";
  line-height: 1;
  font-size: 1.5rem;
  color: white;
}

.top_info h2 {
  font-family: "Lato Medium";
  line-height: .0;
  font-size: 1rem;
}

.loaded {
  position: absolute;
  width: 50%;
  height: 3px;
  margin: 0;
  padding: 0;
  background-color: #DB3650;
}

.ttl {
  color: #00ABA0;
  font-family: "Lato Medium";
  margin-top: 30px;
  margin-left: 30px;
  font-size: 1.3rem;
  width: 95%;
}

.jmp {
  width: 100%;
}

.line {
  width: 100%;
  height: 1px;
  background-color: rgba(68, 68, 68, 0.15);
  margin: .5em;
  box-sizing: border-box;
  padding: 0;
}

.item {
  box-sizing: border-box;
  padding: .5em;
  /*background-color: #00ABA0;*/
}

.medium {
  flex-basis: 32.5%;
}

.min {
  flex-basis: 8%;
}

.small {
  flex-basis: 16.2%;
}

.big {
  flex-basis: 100%;
}

.ip_main {
  /*background-color: #00ABA0;*/
  height: 72vh;
  width: auto;
  /*min-height: 100%;*/
  overflow-y: auto;
  margin: 0;
  padding: 0;
}

.frm {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  /*background-color: #00ABA0;*/
}

.tel_ttl {
  font-family: "Fira Sans", Arial;
  font-size: .8rem;
  color: #00ABA0;
  margin: 0;
  padding-bottom: .5em;
  height: 1em;
  width: 100%;
}

@media only screen and (max-width: 68em) {
  .medium {
    flex-basis: 50%;
  }

  .small {
    flex-basis: 25%;
  }

  /*.formulario_ingreso {*/
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  /*width: 100%;*/
  /*box-sizing: border-box;*/
  /*}*/
}

@media only screen and (max-width: 42em) {
  .medium {
    flex-basis: 100%;
  }

  .small {
    flex-basis: 50%;
  }

  /*.formulario_ingreso {*/
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  /*width: 100%;*/
  /*box-sizing: border-box;*/
  /*}*/

}

.sttc {
  position: fixed;
  width: 84.1vw;
  height: 6em;
  bottom: 0;
  align-items: right;
  display: flex;
  flex-direction: column;
}

.btn {
  width: 10em;
  margin-right: 1em;
  background-color: #00ABA0;
  opacity: .7;
  padding: .5em;
  border-radius: 5px;
  text-align: center;
  color: white;
}

.btn:hover {
  cursor: pointer;
  opacity: 1;
}
