<app-cnt titulo="Antecedentes Sociales">
  <div class="frm">
    <app-input class="item medium" name="Expectativas al tratamiento"
               placeholder="Expectativas  al tratamiento: "></app-input>
    <app-input class="item medium" name="Entorno económico" placeholder="Entorno económico"></app-input>
    <app-input class="item medium" name="hobbies" placeholder="Escribe sus hobbie"></app-input>
    <app-input class="item big" name="Con quien vive y como es el trato con ellos"
               placeholder="Escribe los detalles"></app-input>
  </div>
</app-cnt>

<app-cnt titulo=" Antecedentes Médico-Personales (Generales)">

  <div class="frm">
    <app-checkbox titulo="¿Está bajo tratamiento médico?" [active]="true"></app-checkbox>
    <app-checkbox titulo="¿Toma medicamentos?" [active]="true"></app-checkbox>
    <app-checkbox titulo="¿Fracturas?" [active]="true"></app-checkbox>
    <app-checkbox titulo="¿Operaciones?" [active]="true"></app-checkbox>
    <app-checkbox titulo="¿Está en embarazo?" [active]="true"></app-checkbox>
  </div>
</app-cnt>

<app-cnt titulo="Antecedentes Médico-Personales (Parturientas, Agregable)">
  <div class="frm">
    <div class="ttl">Prenatal</div>
    <app-input class="item big" name="Enfermedades relevantes durante el embarazo" placeholder=""></app-input>
    <app-input class="item big" name="Medicamentos tomados durante el embarazo" placeholder=""></app-input>

    <div class="ttl">Natal</div>
    <app-select class="item small" [data]="['Normal','Anormal','Cesárea']" titulo="Tipos de Parto"
                (selected)="tipo_doc = $event"></app-select>
    <app-checkbox titulo="¿Fórceps?" [active]="true"></app-checkbox>
    <app-checkbox titulo="¿Cianóticoo?" [active]="true"></app-checkbox>


    <div class="ttl">Post natal</div>
    <app-input class="item medium" type="date" name="último exámen"></app-input>
    <app-input class="item medium" name="Motivo del último examen" placeholder=""></app-input>
    <app-input class="item medium" name="Tratamiento actual" placeholder="tratamiento"></app-input>
    <app-input class="item medium" name="Medicamentos tomados actualmente" placeholder="medicamentos"></app-input>
  </div>

</app-cnt>

<app-cnt titulo="Antecedentes Médico-Personales (Adulto, Agregable)">
  <div class="frm">
    <div class="ttl">Enfermedades/Cirugías propias de la niñez: (Agregable)</div>
    <app-input class="item medium" name="Nombre de la enfermedad" placeholder="Ítems agregables"></app-input>
    <app-input class="item medium" name="Código de la enfermedad" placeholder="Código"></app-input>
    <app-input class="item medium" type="date" name="fecha elaboración"></app-input>
    <app-input class="item medium" name="Comentarios" placeholder="Escribe aquí tu comentario"></app-input>
    <div class="ttl">Enfermedades/Cirugías propias del adulto (Agregable)</div>
    <app-input class="item medium" name="Nombre de la enfermedad" placeholder="Ítems agregables"></app-input>
    <app-input class="item medium" name="Código de la enfermedad" placeholder="Código"></app-input>
    <app-input class="item medium" type="date" name="fecha elaboración"></app-input>
    <app-input class="item medium" name="Comentarios" placeholder="Escribe aquí tu comentario"></app-input>
  </div>
</app-cnt>

<app-cnt titulo="Antecedentes Familiares">
  <div class="frm">
    <app-input class="item big" name="Observaciones" placeholder="Observaciones"></app-input>
  </div>
</app-cnt>

<app-cnt titulo="Antecedentes Estomatológicos u Odontológicos">
  <div class="frm">

    <app-multiple
      titulo="Tratamientos previos"
      [base_titulos]='["Prevención","Operatoria","Periodoncia","Endodoncia Prótesis","Ortodoncia","Ortopedia","Cirugía oral"]'
      class="item big"></app-multiple>

    <app-input class="item medium" type="date" name="Última visita"></app-input>
    <app-input class="item medium" type="date" name="Motivo de la visita"></app-input>
    <div class="jmp"></div>
    <app-checkbox titulo="reacción desfavorable" [active]="true"></app-checkbox>
    <div class="jmp"></div>
    <app-input class="item medium" name="Observaciones" placeholder="Escribe aquí tu observación"></app-input>
  </div>

</app-cnt>

<app-cnt titulo="Antecedentes Alérgicos">
  <div class="frm">
    <app-multiple
      titulo="Antecedentes alergicos"
      [base_titulos]='["Anestésico Local.","Penicilina o antibióticos.","Otros medicamentos o comidas"]'
      class="item big"></app-multiple>
    <app-input class="item medium" name="Observaciones" placeholder="Escribe aquí tu observación"></app-input>
  </div>
</app-cnt>
