<div class="adv-main">
  <div class="card">
    <div class="ttl">
      <div class="t">Reassignar servicio</div>
    </div>
    <div class="reasign_cnt">
      <app-input class="cancel_inpt" name="Cancelación de cita" placeholder="¿Por que vas a cancelar esta cita?"
                 [lock]="false"></app-input>
      <app-input class="cancel_inpt" name="Nueva fecha" type="date" placeholder=""
                 [lock]="false"></app-input>

      <app-input class="cancel_inpt" name="Nueva hora" type="time" placeholder=""
                 [lock]="false"></app-input>

      <div class="btts">
        <div class="bt">Reasignar Servicio</div>
        <div class="bt">Cerrar</div>
      </div>

    </div>
  </div>
</div>
