.container {
  position: fixed;
  width: 17.5em;
  height: 100%;
  /*background-color: #F4F4F4;*/
  padding: 0;
  margin: 0;
}

.infouser {
  width: 100%;
  height: 220px;
  margin: 0;
  padding: 0;
  /*background-color: rgba(2, 2, 2, 1);*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: inline-block;

}

.userimg {
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 15px;
  opacity: .05;
  margin: 10px;
}

.username {
  font-family: "Lato Black";
  color: #FCFCFC;
  font-size: 1rem;
  line-height: 1;
}

.usermateria {
  font-family: "Lato Black";
  color: #FCFCFC;
  opacity: .4;
  margin: 0;
  padding: 0;
  font-size: .8rem;
  line-height: 1;
  /*background-color: #FF6D00;*/
}

.item_container {
  /*background-color: #FCFCFC;*/
  width: 100%;
  height: 50px;
  scale: .7;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  opacity: .2;
  transition: all .3s ease-in;
  /*margin: 10px;*/

}

.bottomside {
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.item_container:hover {
  opacity: 1;
  scale: .1;

}

.full {
  margin-top: 4em;
  position: relative;
  width: 100%;
  transition: all .3s ease-in;

}

.item {
  width: 100%;
  display: flex;
  height: 60px;
  box-sizing: border-box;
  /*margin: 10px;*/

  /*background-color: rgba(2, 200, 2, 0.05);*/
}

.item:hover {
  cursor: pointer;
}

.item div {
  width: 100%;
  height: 100%;
  /*background-color: rgba(255, 255, 255, .2);*/
  margin: 5px;
  border-radius: 6px;

}

.icon {
  position: relative;
  width: 15px;
  display: flex;
  margin: 0 auto;

}

.buscar_icon {
  position: relative;
  width: 15px;
  display: flex;
  margin: 0 auto;
}

.icon-container {
  width: 4em;
  height: auto;
  display: flex;
}

#in-buscar {
  border: none;
  width: 100%;
  border-radius: 5px;
  height: 30px;
  padding-left: 15px;
  font-family: "Lato Medium";
  color: #FCFCFC;
  background-color: #00234E;
  transition: all .3s ease-in;

}

#in-buscar:hover {
  color: #00234E;
  background-color: #FCFCFC;
}

.txt {
  position: relative;
  display: flex;
  align-items: center;
  width: 60%;
}

.txt p {
  margin-left: 15px;
  font-family: "Sinkin Sans 500 Medium";
  font-size: .8rem;
  opacity: .5;
}

.imgbtn {
  z-index: 5;
  position: relative;
  width: 15px;
  display: flex;
  margin: 0 auto;
}

.imglogo {
  position: relative;
  width: 50px;
  display: flex;
  margin: 0 auto;
}

/*.s-layout__content {*/
/*display: flex;*/
/*justify-content: center;*/
/*align-items: center;*/
/*flex: 1;*/
/*}*/

/* Sidebar */
.top-fixed-bar {
  z-index: 2;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 4em;
}

/*.s-sidebar__trigger > img {*/
/*display: inline-block;*/
/*margin: 1.5em 0 0 1.5em;*/
/*color: #f07ab0;*/
/*}*/

.menu-btn {
  /*background-color: gold;*/
  width: 4em;
  height: 4em;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.mnbt {
  opacity: .2;
}

.mnbt:hover {
  cursor: pointer;
  opacity: .8;
  opacity: .2;
}

.up-tittles p {
  padding: 0;
  margin: 0;
  line-height: 1;
  font-family: "Lato Medium";
  color: #FCFCFC;
}

.uni {
  font-family: "Lato Black";
  line-height: 2;

}

.datsse {
  /*margin: 500px;*/
  font-size: .8rem;
  font-family: "Lato Black";
  opacity: .2;
}

.up-tittles {
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  justify-content: center;
  margin-left: 12px;
  /*background-color: #FF6D00;*/
}

.up-tittles p {
  margin: 4px;
  /*background-color: #00ABA0;*/
}

.upp {

  width: 100%;
  height: 70px;
  /*background-color: #FF6D00;*/
  display: flex;
}

.logo {
  width: 30px;
}

.nav {
  position: fixed;
  top: 0;
  left: -23em;
  overflow: hidden;
  /*indica el tamaño en responsive?*/
  width: 23em;
  /*padding-top: 4em;*/
  height: 100%;
  background: #00234E;
  transition: all .3s ease-in;
}

.menu-btn:hover ~ .nav {
  width: 18em;
}

/*cuando está en modo tablet*/
@media (min-width: 42em) {

  .logo {
    display: none;

  }

  .up-tittles {
    display: none;

  }

  .s-layout__content {
    margin-left: 4em;
  }

  /* Sidebar */
  .top-fixed-bar {
    width: 4em;
  }

  .nav {
    width: 4em;
    left: 0;
  }

  .txt {
    display: none;
    color: #FCFCFC;

  }

  .imglogo {
    display: none;
    width: 25px;
  }

  .full {
    margin-top: 0em;
    margin-left: 4em;

  }

  .infouser {
    visibility: hidden;
    display: flex;
  }
}

/*este query se  que se ejecuta en tamaño desktop*/
@media (min-width: 68em) {
  .s-layout__content {
    margin-left: 100%;
  }

  .txt {
    display: flex;

  }

  .full {
    margin-left: 18em;
    width: 79%;
  }

  /* Sidebar */
  .top-fixed-bar {
    /*display: none*/
    width: 18em;
  }

  .menu-btn {
    display: none;
  }

  .imglogo {
    /*position: absolute;*/
    display: flex;
  }

  .nav {
    width: 23em;
  }

  .logo {
    display: flex;
  }

  .up-tittles {
    display: flex;
  }

  .infouser {
    display: flex;
    visibility: visible;

  }
}
