.in_titulo {
  font-family: "Fira Sans", Arial;
  font-size: .8rem;
  color: #00ABA0;
  margin: 0;
  padding-bottom: .5em;
  height: 1em;
}

.ss {
  height: 2em;
  width: available;
  /*background-color: #DB3650;*/
  display: flex;
  /*background-color: rgba(0, 0, 0, 0.03);*/
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .3em;
  padding-left: .8em;
}

input {
  -webkit-appearance: none;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-family: "Fira Sans", Arial;
  width: 100%;
  font-size: 1em;
}

.inn {
  font-family: "Fira Sans", Arial;

}

