:host {
  box-sizing: border-box;
  padding: .5em;
}

.in_titulo {
  font-family: "Fira Sans", Arial;
  font-size: .8rem;
  color: #00ABA0;
  margin: 0;
  padding-bottom: .5em;
  height: 1em;
}

.ss {
  height: 2em;
  width: available;
  display: flex;
}

.lock {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0);
}

.ii {
  padding-left: .4em;
  background: rgba(0, 0, 0, 0.02);
}

input {
  -webkit-appearance: none;
  border: none;
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  font-size: 1em;
  border-radius: .4em;
}

input:focus {
  background: #FCFCFC;

  border-radius: .6em;
}

.inn {
  width: 100%;
  height: 100%;
  /*flex-bais: 50%;*/
  /*box-sizing: border-box;*/
  /*padding: .5em;*/
  /*background: #FF6D00;*/
}

@media only screen and (max-width: 68em) {

  :host {
    width: 50%;
    box-sizing: border-box;
    padding: .5em;
  }
}

@media only screen and (max-width: 42em) {
  :host {
    width: 100%;
    box-sizing: border-box;
    padding: .5em;
  }

}

