<app-cnt titulo="General">
  <div class="fmr">
    <app-input class="item medium" name="Bóveda Craneana" placeholder="Escribe"></app-input>
    <app-input class="item medium" name="Cuello" placeholder="Cuello"></app-input>
  </div>
  <app-multiple titulo="Ojos"
                [base_titulos]='["Ptergios","Exoftalmos","Ptosis","Estrabismo","Hipertelorismo"]'
                class="item big"></app-multiple>
  <app-input class="item medium" name="Descripción" placeholder="Descripción"></app-input>
</app-cnt>
<app-cnt titulo="Naríz y senos paranasales">
  <app-select class="item medium" [data]="['Pequeño','Mediano','Grande']" titulo="Tamaño"
              (selected)="tipo_doc = $event"></app-select>

  <app-select class="item medium" [data]="['Normal','Amplias','Estrechas']" titulo="Contorno"
              (selected)="tipo_doc = $event"></app-select>

  <app-select class="item medium" [data]="['Normal','Amplias','Estrechas']" titulo="Narinas"
              (selected)="tipo_doc = $event"></app-select>
  <app-select class="item medium" [data]="['Normal','Hipertrófico']" titulo="Cornetes"
              (selected)="tipo_doc = $event"></app-select>
  <app-input class="item medium" name="Descripción" placeholder="Descripción"></app-input>
</app-cnt>

<app-cnt titulo="Oídos">
  <app-select class="item medium" [data]="['Normal','Anormal']" titulo="Pabellón auricular"
              (selected)="tipo_doc = $event"></app-select>
  <app-input class="item medium" name="Descripción" placeholder="Descripción"></app-input>


</app-cnt>
<app-cnt titulo="ATM"></app-cnt>
