<div class="all">
  <main class="main">
    <div class="ur_topttitle">
      <div>Profesional</div>
    </div>

    <div class="img_paciente">
      <img class="ico" src="/assets/man.svg">

    </div>

    <div class="ur_nombre">{{nombre}}</div>
    <!--<div class="ur_doc">{{escuelas}}</div>-->
    <!--<div class="ur_mas_info">{{semestre}}</div>-->
    <div class="ur_doc">{{'Periodoncia'}}</div>
    <!--<div class="ur_mas_info">{{''}}</div>-->
  </main>


  <app-card-user-servicio
    *ngFor="let id of serviciosId; let i = index" [idServicio]="id"
    (alSeleccionar)="selectServicio($event,i)"
    [seleccionado]="this.iSelected===i">
  </app-card-user-servicio>

  <!--<div class="msg-no-servicios" *ngIf="serviciosId.length===0">Aún no tienes servicios asignados</div>-->



  <div>
    <div></div>
  </div>
</div>


