<div class="hc_hc">

  <div class="hc_main">
    <ul class="tabs">
      <li routerLink="resumen" class="rsm" routerLinkActive="active">
        Anamnesis
      </li>
      <li routerLink="/paciente/" routerLinkActive="active">
        Antecedentes
      </li>

      <li routerLink="historia" routerLinkActive="active">
        Revisión sistema
      </li>

      <li routerLink="historia" routerLinkActive="active">
        Exámen físico
      </li>

      <li routerLink="historia" routerLinkActive="active">
        Exámen Estomatológico
      </li>

      <li routerLink="historia" routerLinkActive="active">
        Odontograma
      </li>

      <li routerLink="historia" routerLinkActive="active">
        Periodontográma
      </li>

      <li routerLink="historia" routerLinkActive="active">
        Diagnostico
      </li>
      <li routerLink="historia" routerLinkActive="active">
        Evolución
      </li>
    </ul>
    <div class="magicspace"></div>
    <router-outlet></router-outlet>
  </div>
  <div class="hc_rbar">asdasd</div>
</div>
