:host {
  width: 100%;
  height: auto;
  padding: 1em;
}

.hc_hc {
  /*overflow: hidden;*/
  width: available;
  /*height: 96.8%;*/
  background-color: white;
  /*margin: 1em;*/
  border-radius: .4em;
  border: rgba(0, 0, 0, 0.11) 1px solid;
}

.tabs {

  list-style: none;
  padding-left: 20px;
  display: flex;
  align-items: center;
  margin: 0;
  position: fixed;
  width: 800em;
  height: 3em;
  z-index: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 3px 4px 83px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 3px 4px 83px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 3px 4px 83px 0 rgba(0, 0, 0, 0.05);
  font-family: "Fira Sans";
  font-weight: 400;
  overflow-y: scroll;
}

.hc-bloqueo {
  position: fixed;
  display: flex;
  /*para el responsive, se debe poner el width en 100*/
  width: 80%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
  z-index: 8;
}

.magicspace {
  width: 100%;
  height: 3em;
  /*background-color: #FF6D00;*/
}

.hc-bloque-msg {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
  padding: 1em;
  background-color: #FCFCFC;
  border-radius: .2em;
  text-align: center;
}

.main_tabs {
  overflow: hidden;
  background-color: #DB3650;
}

.hc_main {
  background-color: #00ABA0;
  width: 100%;
  overflow-y: hidden;
}

.tb_hc {
  font-weight: 300;
  margin-right: 2em;
  float: left;
  opacity: .3;
  font-size: .9em;
  color: #00234E;
}

.tb_hc:hover {
  cursor: pointer;
  opacity: .8;

}

.active {
  font-weight: 500;
  opacity: 1;
  color: #FF6D00;
}

.hc-ttl {
  font-weight: 600;
}

.hc-sbttl {
  font-size: .8em;
}

.hc_content {
  width: 100%;
  height: 51em;
  display: flex;
  flex-direction: column;
}

.inpc_magicspace {
  width: 100%;
  height: 4em;
  display: flex;
  align-items: center;
}

.icc {
  width: 1em;
}

.ir-atras {
  width: 4em;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hc-lf {
  padding: .5em;
  width: 100%;
  height: 63em;
  overflow-y: auto;
}

.hc-rg {
  display: flex;
  background-color: #FF6D00;
  width: 20%;
  height: 51em;
}

