.tabs {
  /*width: available;*/
  /*height: 4em;*/
  list-style: none;
  padding-left: 20px;
  /*background-color: #FCFCFC;*/
  /*background-color: #333333;*/
  /*height: 50px;*/
  display: flex;
  align-items: center;
  margin: 0;
  position: fixed;
  width: 800em;
  height: 3em;
  z-index: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 3px 4px 83px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 3px 4px 83px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 3px 4px 83px 0 rgba(0, 0, 0, 0.05);
  font-family: "Fira Sans";
  font-weight: 400;
  overflow-y: scroll;
}

.magicspace {
  width: 100%;
  height: 3em;
  /*background-color: #FF6D00;*/
}

.main_tabs {
  overflow: hidden;
  background-color: #DB3650;
}

.hc_main {
  background-color: #00ABA0;
  width: 100%;
  overflow-y: hidden;
}

.tb_hc {
  font-weight: 300;
  margin-right: 2em;
  float: left;
  opacity: .3;
  font-size: .9em;
  color: #00234E;
}

.tb_hc:hover {
  cursor: pointer;
  opacity: .8;

}

.active {
  font-weight: 500;
  opacity: 1;
  color: #FF6D00;
}

.hc_rbar {

  width: 20%;
  height: 90vh;
  background-color: rgba(252, 252, 252, 1);

  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.14);
  border-left: 1px solid rgba(0, 0, 0, 0.08);
  z-index: 2;
}

.hc_hc {
  overflow: hidden;
}

.hc_content {
  width: 100%;
  height: 51em;
  display: flex;
}

.hc-lf {
  padding: .5em;
  width: 100%;
  height: 63em;
  overflow-y: auto;
}

.hc-rg {
  display: flex;
  background-color: #FF6D00;
  width: 20%;
  height: 51em;
}

