<div class="top_info">
  <h1>Nuevo Ingreso</h1>
  <div class="loading_line">
    <div class="loaded"></div>
  </div>
</div>
<div class="magicspace"></div>
<div class="ip_main">
  <app-tabs>
    <app-tab tabTitle="Información Básica">
      <app-hc-basic></app-hc-basic>
    </app-tab>
    <app-tab tabTitle="Revisión por sistemas">
      <app-hc-revision-por-sistem></app-hc-revision-por-sistem>
    </app-tab>
    <app-tab tabTitle="Exámen Fisico">
      <app-hc-examen-fisico></app-hc-examen-fisico>
    </app-tab>
    <app-tab tabTitle="Odontograma">
      <app-pg-odontograma></app-pg-odontograma>
    </app-tab>
    <app-tab tabTitle="Requerimientos de paciente">
      <app-hc-examen-fisico></app-hc-examen-fisico>
    </app-tab>
    <app-tab tabTitle="Evolución">
    </app-tab>
    <app-tab tabTitle="Requerimientos">
      <app-hc-requerimientos></app-hc-requerimientos>
    </app-tab>
  </app-tabs>
</div>
