/*:host {*/
/*width: 100%;*/
/*background-color: #00ABA0;*/
/*height: 3em;*/
/*box-sizing: border-box;*/
/*padding: 1em;*/
/*}*/
:host {
  width: 100%;
}

.cnt-card {
  /*margin-top: 1em;*/
  margin-bottom: 1em;
  width: 100%;
  height: auto;
  /*margin: 1em;*/
  /*box-sizing: border-box;*/
  background-color: white;
  border-radius: .2em;
  -webkit-box-shadow: 0px 0px 9px 0px rgba(50, 50, 50, 0.28);
  -moz-box-shadow: 0px 0px 9px 0px rgba(50, 50, 50, 0.28);
  box-shadow: 0px 0px 9px 0px rgba(50, 50, 50, 0.28);
  border: #00ABA0 1px solid;
}

.ttl {
  padding: 1em;
  font-weight: 600;
  opacity: .7;
}

.cnt_top_dt {
  /*height: 2em;*/
  padding-left: 1em;
  display: flex;
  box-sizing: border-box;
  background-color: rgba(0, 171, 160, 0.2);
  align-items: center;
  cursor: pointer;
  width: available;
}

.cnt-cnt {
  width: 100%;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  padding: 1em;
  flex-wrap: wrap;
}
