<!--<app-advertencia-iniciar-servicio (advertido)="iniciarHistoria()" [hidden]="!verAdv"></app-advertencia-iniciar-servicio>-->
<!--<app-reasignar-cita [hidden]="!reasignar"></app-reasignar-cita>-->
<!--<app-cancelar-servicio [hidden]="!cancelar"></app-cancelar-servicio>-->
<!--<app-pg-evolucion [hidden]="!evolucionar" (evolucion)="subirEvolucion($event)"-->
<!--(cancelar)="evolucionar= $event"></app-pg-evolucion>-->

<div class="pgs_crd">
  <div class="pgs_main">
    <div class="pgs_mains_bar">
      <div class="pgs_back" routerLink="../">
        <img class="icon" src="/assets/paciente/bacck.svg">
      </div>
      <div class="pgs_cnt_ttl">
        <div class="pgs_ttl">Titulo del servicio</div>
        <div class="pgs_subttl">
          <div class="txt">{{this.servicio?.metadata.estado}}</div>
          <div class="sub_ttl" (click)="ejecutarVerServicio()">Servicio de {{this.servicio?.metadata.tipo_servicio}}
          </div>
        </div>
      </div>
      <div *ngIf="!servicio_concluido" class="finalizar" (click)="finaliarServicio()">
        Finalizar Servicio
      </div>
    </div>
  </div>

  <div class="pgs_rg">
    <div class="pgs_infouser">
      <div class="pgs_itm">
        <div class="pgs_tttl">Responsable del Servicio</div>
        <div class="pgs_cnt_responsable">
          <div class="pgs-ico-logo-container">
            <img class="icon nv-ic-logo" src="/assets/navbar/logo.svg">
          </div>
          <div class="nv-vline"></div>
          <div class="nv-main-container">
            <div class="name">Servicio sin asignar</div>
            <div class="esp">Asignar servicio</div>
          </div>
        </div>
      </div>

      <div class="pgs_itm">
        <div class="pgs_tttl">Próxima cita</div>
        <div class="pgs_cnt_responsable">

          <div class="pgs-ico-logo-container">
            <img class="icon pgs-ico-not" src="/assets/navbar/not_ico.svg">
          </div>

          <div class="nv-vline"></div>
          <div class="nv-main-container">
            <div class="name">Cita sin asignar</div>
            <div class="pgs-ops">
              <div class="pgs_opcionees" (click)="reasignar=true">Opciones</div>
              |
              <div class="pgs_cancelar" (click)="cancelar=true">Cancelar</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-input
      name="Descripción"
      size="l"
      type="text"
      value="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aspernatur esse facilis ipsum iusto maxime mollitia nam natus obcaecati, officiis quam quasi quibusdam quidem recusandae sint totam, velit vero voluptatem!">
    </app-input>

  </div>
  <div class="pgs_tttl">Tratamientos</div>

  <app-item-anextab [tratamientos]="this.tratamientos_del_servicio"
                    (alAgregar)="ejecutarAgregarNuevaFaseTratamiento($event)"
                    [isLock]="servicio_concluido"
                    (alActualizarTratamientos)="cargarTratamientos()">
  </app-item-anextab>

</div>
