/* You can add global styles to this file, and also import other style files */
body {
  -webkit-tap-highlight-color: #ccc;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Lato Medium";
}

html {
  -webkit-tap-highlight-color: #ccc;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/*** Works on common browsers ***/
::selection {
  background-color: #00234E;
  color: #fff;
}

/*** Mozilla based browsers ***/
::-moz-selection {
  background-color: #00234E;
  color: #fff;
}

/*!***For Other Browsers ***!*/
/*::-o-selection {*/
  /*background-color: #352e7e;*/
  /*color: #fff;*/
/*}*/

/*::-ms-selection {*/
  /*background-color: #352e7e;*/
  /*color: #fff;*/
/*}*/

/*!*** For Webkit ***!*/
/*::-webkit-selection {*/
  /*background-color: #352e7e;*/
  /*color: #fff;*/
/*}*/

