<app-cnt titulo="Exámen Físico">
  <div class="frm">

    <app-input [value]="data.fisico.peso" [lock]="lock" (texted)="data.fisico.peso= $event" class="item medium"
               name="Peso"></app-input>

    <app-input [value]="data.fisico.estatura" [lock]="lock" (texted)="data.fisico.estatura= $event" class="item medium"
               name="Estatura"></app-input>

    <app-input [value]="data.fisico.temperatura" [lock]="lock" (texted)="data.fisico.temperatura= $event"
               class="item medium"
               name="Temperatura"></app-input>

    <app-input [value]="data.fisico.pulso" [lock]="lock" (texted)="data.fisico.pulso= $event" class="item medium"
               name="Pulso"></app-input>

    <app-input [value]="data.fisico.tension_arterial" [lock]="lock" (texted)="data.fisico.tension_arterial= $event"
               class="item medium" name="Tensión arterial"></app-input>

    <app-input
      [value]="data.fisico.frecuencia_respiratoria"
      (texted)="data.fisico.frecuencia_respiratoria= $event"
      class="item medium"
      [lock]="lock"
      name="Frecuencias respiratorias">
    </app-input>

    <app-input [value]="data.fisico.observaciones" [lock]="lock" (texted)="data.fisico.observaciones= $event"
               class="item medium"
               name="Observaciones"></app-input>

    <app-select [value]="data.fisico.contextura" [lock]="lock" class="item medium"
                [data]="['Ectomorfo','Endomorfo','Mesomorfo']"
                titulo="Contextura"
                (selected)="data.fisico.contextura = $event"></app-select>

    <app-input [value]="data.fisico.sentidos" [lock]="lock" (texted)="data.fisico.sentidos =$event" class="item big"
               name="Órganos de los sentidos"></app-input>

    <app-input [value]="data.fisico.orientacion" [lock]="lock" (texted)="data.fisico.orientacion= $event"
               class="item big"
               name="Orientación en tiempo y espacio"></app-input>

    <app-select [value]="data.fisico.apariencia_nutricional" [lock]="lock" class="item medium"
                [data]="['Anormal','Normal']"
                titulo="Apariencia nutricional"
                (selected)="data.fisico.apariencia_nutricional= $event"></app-select>

    <app-select [value]="data.fisico.pico_crecimiento" [lock]="lock" class="item medium"
                [data]="['Estable','Acelerado','Decreciente']" titulo="Picos de crecimiento"
                (selected)="data.fisico.pico_crecimiento = $event"></app-select>

    <app-select [value]="data.fisico.crecimiento_comparado" [lock]="lock" class="item medium"
                [data]="['Similar','Aumentado','Disminuido']"
                titulo="Cremiento comparado(hermanos-padres)"
                (selected)="data.fisico.crecimiento_comparado= $event"></app-select>
  </div>
</app-cnt>
