<div [class.active]="ActivoParaEditar" class="c-ev-card">

  <div [class.act-ttl]="ActivoParaEditar" class="c-ev-cnt-up">
    <div class="c-ev-ttl">{{ActivoParaEditar ? 'Nueva evolución': 'Evolución No.'+ id}}</div>
  </div>

  <div class="c-ev-cnt-up">
    <div class="c-ev-ttl_2">{{faseCorrespondiente ? faseCorrespondiente : ev.fase}}</div>
    <!--<div class="c-ev-sub_ed">Finalizar Ingreso</div>-->
  </div>

  <app-input

    name="Evolución"
    size="l"
    type="text"
    [lock]="!ActivoParaEditar"
    [value]="ev['Evolución']"
    (texted)="ev['Evolución']=$event">
  </app-input>

  <div class="mn" *ngIf="!isTratamientoSeleccionado">
    <div class="f-item" *ngFor="let anx of ev.anexos">
      <div class="it-ttl" (click)="verAnexoSeleccionado(anx)">{{anx.nombre}}</div>
    </div>

    <div class="nx_add" *ngIf="ActivoParaEditar">
      <select class="n-anx" (change)="agregarNuevoAnexo($event.target.value)">
        <option selected disabled hidden>+ nuevo anexo</option>
        <option *ngFor="let opcion_anexos of this.data.paginas_anexos">{{opcion_anexos.nombre}}</option>
      </select>
    </div>
  </div>
  <div *ngIf="ActivoParaEditar">
    <div class="c-ev-sub_ed" (click)="alFinalizarIngreso()">Finalizar Ingreso</div>
  </div>
  <div class="c-ev-sub_ed" *ngIf="!ActivoParaEditar && sePuedeEditar" (click)="cambiarEdicion()">editar</div>

</div>
