<!--<div class="magicnav"></div>-->

<!--<nav class="nav" [ngClass]="{'active': !active }">-->
<!--<div class="upp desk">-->
<!--<div class="icon-container mnbt">-->
<!--<img class="icon" src="/assets/navbar/menu.svg">-->
<!--</div>-->
<!--<div class="icon-container logo">-->
<!--<img class="icon logo" src="/assets/navbar/logo.svg">-->
<!--</div>-->
<!--<div class="up-tittles">-->
<!--<p class="tittle_entitie">Universidad del Valle</p>-->
<!--<p class="tittle_date">{{today | date:'fullDate'}} {{today | date:'shortTime'}} </p>-->
<!--</div>-->
<!--</div>-->

<!--<div class="infouser" routerLink="/perfil/inicio" (click)="tonggleMenu()">-->
<!--<div class="userimg"></div>-->
<!--<div class="inus">-->
<!--<h1 class="username">{{nombre}}</h1>-->
<!--<h2 class="usermateria">{{especialidad}}</h2>-->
<!--</div>-->
<!--</div>-->

<!--<div class="item_container">-->
<!--<div class="icon-container">-->
<!--<img class="buscar_icon" src="/assets/navbar/search.svg">-->
<!--</div>-->
<!--<div class="txt">-->
<!--<input (keyup.enter)="buscar($event)" (click)="tonggleMenu()" ng-model="nombre" type="text" id="in-buscar"-->
<!--name="nombre"-->
<!--placeholder="Buscar">-->
<!--</div>-->
<!--</div>-->

<!--<div class="item_container">-->
<!--<div class="icon-container">-->
<!--<img class="buscar_icon" src="/assets/navbar/new-user.svg">-->
<!--</div>-->
<!--<div class="txt">-->
<!--<p routerLink="/ingreso" (click)="tonggleMenu()" routerLinkActive="active">-->
<!--Nuevo ingreso-->
<!--</p>-->
<!--</div>-->
<!--</div>-->
<!--<div class="item_container">-->
<!--<div class="icon-container">-->
<!--<img class="buscar_icon" src="/assets/navbar/settigns.svg">-->
<!--</div>-->
<!--<div class="txt">-->
<!--<p routerLink="/configuraciones" (click)="tonggleMenu()" routerLinkActive="active">-->
<!--Configuraciones-->
<!--</p>-->
<!--</div>-->
<!--</div>-->
<!--<div class="item_container">-->
<!--<div class="icon-container">-->
<!--<img class="buscar_icon" src="/assets/navbar/exit.svg">-->
<!--</div>-->
<!--<div class="txt ocultable">-->
<!--<p routerLink="/login" (click)="tonggleMenu()" routerLinkActive="active">Cerrar sesión</p>-->
<!--</div>-->
<!--</div>-->

<!--</nav>-->

<!--<div class="magicspace">-->
<!--<div class="fx" (click)="tonggleMenu()">-->
<!--<div class="icon-container mnbt">-->
<!--<img class="icon" src="/assets/navbar/menu.svg">-->
<!--</div>-->
<!--<div class="icon-container logo">-->
<!--<img class="icon logo" src="/assets/navbar/logo.svg">-->
<!--</div>-->
<!--<div class="up-tittles">-->
<!--<p class="tittle_entitie">Universidad del Valle</p>-->
<!--<p class="tittle_date">{{today | date:'fullDate'}} {{today | date:'shortTime'}} </p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->


<nav class="main_nav">
  <div class="nv-ico-logo-container">
    <img class="icon nv-ic-logo" src="/assets/navbar/logo.svg">
  </div>

  <div class="nv-vline"></div>

  <div class="nv-main-container">
    <div class="nv-name">Universidad del Valle</div>
    <div class="nv-esp">{{today | date:'fullDate'}} {{today | date:'shortTime'}}</div>
  </div>

  <div class="nv-right">
    <div class="nv-btn-buscar-container">
      <div class="nv-btn-buscar">
        <div class="nv-ico-buscar">
          <img class="icon nv-ic-not" src="/assets/navbar/search.svg">
        </div>
        <input type="text" class="nv-text" placeholder="Buscar Documento">
      </div>
    </div>

    <div class="nv-btn-ingresar-container">
      <div class="nv-btn-ingresar">
        <div class="nv-ico-ingresar">
          <img class="icon nv-ic-not" src="/assets/navbar/add_ico.svg">
        </div>
        <div class="nv-txt-ni">Nuevo Ingreso</div>
      </div>
    </div>


    <!--información del usuario-->
    <div class="nv-info-container">
      <div class="nv-user-container">
        <div class="nv-name">Andrés González C.</div>
        <div class="nv-esp">Code Master Pro</div>
      </div>

      <div class="icon-container">
        <div class="icon nv-ic-user">
        </div>
      </div>
    </div>

    <div class="nv-icon-container">
      <img class="icon nv-ic-not" src="/assets/navbar/not_ico.svg">
    </div>

    <div class="nv-icon-container">
      <img class="icon nv-ic-tools" src="/assets/navbar/tools.svg">
    </div>

  </div>
</nav>
<div class="cc"></div>

<!--<app-snakbar></app-snakbar>-->

