<nav class="main_nav">
  <div class="nv-ico-logo-container" routerLink="/">
    <img class="icon nv-ic-logo" src="/assets/navbar/logo.svg">
  </div>
  <div class="nv-vline"></div>
  <div class="nv-main-container">
    <div class="nv-name">Universidad del Valle</div>
    <div class="esp">{{today | date:'fullDate'}} {{today | date:'shortTime'}}</div>
  </div>

  <div class="nv-right">
    <div class="nv-btn-buscar-container">
      <div class="nv-btn-buscar">
        <div class="nv-ico-buscar">
          <img class="icon nv-ic-not" src="/assets/navbar/search.svg">
        </div>

        <select value="" class="nv-b-select" (change)="this.data.tipo_doc_paciente_buscado=$event.target.value">
          <option selected>CC</option>
          <option>TI</option>
          <option>NIT</option>
        </select>

        <input type=" text" class="nv-text" placeholder="Buscar Documento" (keyup.enter)="buscar($event)">
      </div>
    </div>
    <div class="nv-btn-ingresar-container">
      <div class="nv-btn-ingresar" (click)="initIngreso()">
        <div class="nv-ico-ingresar">
          <img class="icon nv-ic-not" src="/assets/navbar/add_ico.svg">
        </div>
        <div class="nv-txt-ni">Ingresar nuevo Paciente</div>
      </div>
    </div>

    <!--información del usuario-->
    <div class="nv-info-container" routerLink="/">
      <div class="nv-user-container">

        <div class="nv-name">
          <!--{{sub_categorias.informacion_usuario.payload.val().nombres+' '+sub_categorias.informacion_usuario.payload.val().apellidos}}-->
        </div>
        <!--<div class="nv-esp">{{sub_categorias.informacion_usuario.payload.val().especialidad}}</div>-->
      </div>

      <div class="icon-container">
        <div class="icon nv-ic-user">
        </div>
      </div>
    </div>

    <div routerLink="login" class="salir">Salir</div>


    <!--<div class="nv-icon-container">-->
    <!--<img class="icon nv-ic-tools" routerLink="/login" src="/assets/navbar/tools.svg">-->
    <!--</div>-->

  </div>
</nav>
