<div class="nb_ingreso" [ngClass]="{'show' : !mostrarIngreso}">
  <div class="nb_card_ingreso">
    <app-ingresar-paciente (terminado)="finalizarIngreso()"></app-ingresar-paciente>
  </div>
</div>

<nav class="main_nav">
  <div class="nv-ico-logo-container">
    <img class="icon nv-ic-logo" src="/assets/navbar/logo.svg">
  </div>
  <div class="nv-vline"></div>
  <div class="nv-main-container">
    <div class="nv-name">Universidad del Valle</div>
    <div class="nv-esp">{{today | date:'fullDate'}} {{today | date:'shortTime'}}</div>
  </div>

  <div class="nv-right">
    <div class="nv-btn-buscar-container">
      <div class="nv-btn-buscar">
        <div class="nv-ico-buscar">
          <img class="icon nv-ic-not" src="/assets/navbar/search.svg">
        </div>
        <input type="text" class="nv-text" placeholder="Buscar Documento" (keyup.enter)="buscar($event)">
      </div>
    </div>

    <div class="nv-btn-ingresar-container">
      <div class="nv-btn-ingresar">
        <div class="nv-ico-ingresar">
          <img class="icon nv-ic-not" src="/assets/navbar/add_ico.svg">
        </div>
        <div class="nv-txt-ni" (click)="initIngreso()">Ingresar nuevo Paciente</div>
      </div>
    </div>


    <!--información del usuario-->
    <div class="nv-info-container" routerLink="/">
      <div class="nv-user-container">
        <div class="nv-name">Andrés González C.</div>
        <div class="nv-esp">Code Master Pro</div>
      </div>

      <div class="icon-container">
        <div class="icon nv-ic-user">
        </div>
      </div>
    </div>

    <div class="nv-icon-container">
      <img class="icon nv-ic-not" src="/assets/navbar/not_ico.svg">
    </div>

    <div class="nv-icon-container">
      <img class="icon nv-ic-tools" routerLink="/login" src="/assets/navbar/tools.svg">
    </div>

  </div>
</nav>
<div class="cc"></div>
<app-snakbar></app-snakbar>
